<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Không tìm thấy trang yêu cầu</title>
<link href="{{asset('bundles/acmepermission/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet" type="text/css">
<link href="{{asset('bundles/acmepermission/bootstrap/css/londinium-theme.min.css')}}" rel="stylesheet" type="text/css">
<link href="{{asset('bundles/acmepermission/bootstrap/css/styles.min.css')}}" rel="stylesheet" type="text/css">
<link href="{{asset('bundles/acmepermission/bootstrap/css/icons.min.css')}}" rel="stylesheet" type="text/css">
<link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&amp;subset=latin,cyrillic-ext" rel="stylesheet" type="text/css">
</head>
<body class="full-width page-condensed">
<!-- Navbar -->
<div class="navbar navbar-inverse" role="navigation">
</div>
<!-- /navbar -->
<!-- Error wrapper -->
<div class="error-wrapper text-center">
  <h1>404</h1>
  <h6>- Trang yêu cầu không tồn tại trong hệ thống -</h6>
  <div class="error-content">
{#    <form class="block-inner" action="#">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Search...">
        <span class="input-group-btn">
        <button class="btn btn-primary" type="button">Search</button>
        </span></div>
    </form>#}
    <div class="row">
      <div class="col-md-6"> <a href="index.html" class="btn btn-danger btn-block">Back to dashboard</a> </div>
      <div class="col-md-6"> <a href="index.html" class="btn btn-success btn-block">Back to the website</a> </div>
    </div>
  </div>
</div>
<div class="footer clearfix">
  <div class="pull-left">&copy; 2013. Londinium Admin Template by <a href="http://themeforest.net/user/Kopyov">Eugene Kopyov</a></div>
  <div class="pull-right icons-group"> <a href="#"><i class="icon-screen2"></i></a> <a href="#"><i class="icon-balance"></i></a> <a href="#"><i class="icon-cog3"></i></a> </div>
</div>
<!-- /footer -->
<!-- Scripts -->
<!-- /scripts -->
</body>
</html>