<li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown"><i class="icon-copy"></i><span class="label label-default">{{tthc|length}}</span></a>
    <div class="popup dropdown-menu dropdown-menu-right">
        <div class="popup-header"><a href="#" class="pull-left"><i class="icon-spinner7"></i></a><span>Thủ tục hành chính</span><a href="#" class="pull-right"><i class="icon-new-tab"></i></a></div>
        <ul class="activity">
            {%for tt in tthc%}
            <li> <i class="icon-folder8"></i>
                <div> {{tt.linhvuc.namedv}}<a href="{{path('listedTTHC',{'id':tt.idtthc})}}"> {{tt.nametthc|slice(0,25)}}</a></div>
            </li>
            {%endfor%}
        </ul>
    </div>
</li>