{# empty Twig template #}
{%extends "AcmePermissionBundle::Admin/baseAdmin.html.twig"%}
{% block content%}
{%block title%}
<title>Điều chỉnh quyền đối với thủ tục hành chính</title>
{%endblock%}
{%block pagetitle%}
     <h3>Điều chỉnh trách nhiệm <small>Nguyễn Hữu Kết - K55C-CLC</small></h3>
{%endblock%}
<h2>Thêm quyền hạn người dùng - {{user.username}}</h2>
{{ form_start(form) }}
{{ form_errors(form) }} 
{{form_end(form)}}
{%endblock%}