{%extends "AcmePermissionBundle::Staff/forwardHoso.html.twig"%}
{%block header%}
     <thead>
        <td>Id</td>
        <td>Công dân</td>
        <td>Thủ tục hành chính</td>
        <td>Ngày nhận</td>
        <td>Ngày hẹn trả</td>
        <td>Trả hồ sơ</td>                        
    </thead>
     <tr>
        <th><input type="text" name="search_id" placeholder="id" class="form-control" size="3"></th>
        <th><input type="text" name="search_thu" placeholder="Công dân" class="form-control"></th>
        <th><input type="text" name="search_so" placeholder="Thủ tục hành chính" class="form-control"></th>
        <th><input type="text" name="search_ngaynhan" placeholder="Ngày nhận" size="10" class="form-control"></th>
        <th><input type="text" name="search_ngaytra" placeholder="Ngày trả" size="10" class="form-control"></th>
        <th></th>
    </tr>
{%endblock%}
